@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

/* ROOT STYLES */

:root {

    /* 
     ** font size
    */
    --fs-32: 3.2rem;
    --fs-25: 2.5rem;
    --fs-2: 2rem;
    --fs-18: 1.8rem;
    --fs-16: 1.6rem;
    --fs-14: .875rem;
    --fs-12: .75rem;

    --text-lg: 32px;
    --text-md: 16px;

    /* 
     ** typography
    */
    --ff-firacode: 'Fira Code', monospace;

    /* 
     ** colors
    */
    --fc-primary: #C778DD;
    --fc-gray: #ABB2BF;
    --fc-black: #282C33;




}

/* RESET STYLES */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input,
textarea,
button {
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--ff-firacode);
    background-color: var(--fc-black);
    color: #ffffff;
    overflow-x: hidden;
}

a {
    color: #fff;
}

.nav-mobile {
    display: none;
}


/* REUSED STYLES */

.span {
    color: var(--fc-primary);
}

.white {
    color: #ffffff;
}

.gray {
    color: var(--fc-gray)
}

.section {
    padding-block: 60px;
}

.container {
    padding-inline: 171px;
    /* display: flex;
    align-items: center; */
}

.text-lg {
    font-size: var(--text-lg);
}

.text-md {
    font-size: var(--text-md);
}

.btn {
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid var(--fc-primary) !important;
    transition: .3s ease-in;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #fff;
    color: var(--fc-primary);
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #ffffff;
    transition: .3s ease-in;
    font-weight: bold;
}

.box-pink {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--fc-primary);
}

.img-cover {
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    object-fit: cover;
}

.section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title {
    font-size: var(--text-lg);
}

.section-subtitle {
    font-size: var(--text-md);
    color: var(--fc-gray);
    font-weight: 400;
    margin-top: 14px;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .section-title {
    position: relative;
    display: flex;
    align-items: center;
}

.container .section-title::after {
    content: '';
    /* position: absolute; */
    margin-left: 20px;
    top: 50%;
    left: 180px;
    width: 500px;
    height: 1px;
    background-color: var(--fc-primary);
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: calc(100% / 3 - 16px);
}

.col-6 {
    width: calc(50% - 16px);
}

.col-8 {
    width: calc(100% * 2 / 3);
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* .card-img img {} */

.card-list {
    /* width: auto;
    max-width: 331px; */
    height: 100%;
    border: 1px solid #fff;
}

.card-subtitle {
    border-bottom: 1px solid #ffffff;
    padding: 8px;
}

.card-details {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-button {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.nav-open {
    display: none;
}

.line-social {
    position: fixed;
    top: 0;
    left: 17px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    gap: 8px;
}

.line-social span {
    display: block;
    width: 1px;
    height: 191px;
    background-color: #ffffff;
}

.line-social ul.my-socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.line-social ul.my-socialmedia img {
    width: 32px;
    height: 32px;
}

.tabs-wrapper {
    width: 100%;
    margin-bottom: 32px;
    margin-inline: auto;
}

.tabs-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
}

.tabs-list li button {
    font-size: 20px;
}

.tabs-list li:hover button.btn {
    border-color: #C778DD !important;
}

.tabs-info {
    margin-block: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HEADER */

.header {
    width: 100%;
    padding: 32px 0 8px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container .navbar ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header .container .navbar .nav-list a {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: .2s ease-in;
}

.header .container .navbar .nav-list a:hover {
    color: var(--fc-gray);
}



/* FOOTER */

.footer .container {
    padding-block: 32px;
    border-top: 1px solid #fff;
}

.footer-brand .logo {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 16px;
}

.footer .section-title {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.footer .section-title::after {
    display: none;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-contact ul {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 14px;
}


/* MEDIA QUERIES */


@media screen and (max-width: 992px) {

    .line-social {
        display: none;
    }

    .col-8 {
        width: 100%;
    }

    .container {
        padding-inline: 16px !important;
        gap: 44px;
        display: flex;
        flex-wrap: wrap;
    }

    .section-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .section-title::after {
        display: none;
    }

    .card-list {
        flex: auto !important;
        height: auto !important;
    }

    .favorite .container .content .image {
        display: none;
    }

    .header .navbar {
        display: none;
    }

    .greeting {
        display: none;
    }

    .col-4 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 24px;
    }

    /* NAV MOBILE */

    .logo-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-open {
        display: block;
    }

    .nav-mobile {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        padding-inline: 16px;
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        background-color: var(--fc-black);
        z-index: 5;
        transition: .3s ease-in-out;
    }

    .nav-mobile.active {
        left: 0;
    }

    .nav-mobile ul li a img {
        width: 64px;
        height: 64px;
    }

    .nav-header {
        padding-block: 19px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navs {
        margin-top: 47px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .navs li a {
        font-family: 'Fira Code';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        color: #FFFFFF;
    }

    .nav-mobile .socials {
        display: flex;
        align-items: center;
        gap: 8px;
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
    }

}